<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="List of sites built with Laravel PHP framework" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.rubynaija.com" />
    <meta property="og:image" content="http://www.rubynaija.com/images/ruby2.jpg" />
    <meta property="og:site_name" content="Rubynaija.com" />
    <meta property="og:description" content="Rubynaija.com is a compilation of web sites and web applications built with Laravel PHP framework by Nigerian Developers" />
    <meta name="description" content="Rubynaija.com is a compilation of web sites and web applications built with Laravel PHP framework by Nigerian Developers">
    <meta name="author" content="Otemuyiwa Prosper, @unicodeveloper">
	<title>RUBYNAIJA :: Home Of Nigerian Rails Developers</title>
	<link rel="shortcut icon" href='images/favicon.ico' type="image/x-icon">
	<%= stylesheet_link_tag  "bootstrap.min","main","font-awesome.min","selectize.bootstrap3" %>
</head>

<body class="home">
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom">
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand laralogo" href="#"> <span class="lara">RUBY</span><span class="naija">NAIJA</span></a>
			</div>
			<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav pull-right">
			  <li class='active'><%= link_to "Home", root_path %></li>
			  <li class=""><%= link_to "Projects", projects_path %></li>
			  <li class=""><%= link_to "Developers", developers_path %></li>
			  <li class=""><%= link_to "About", about_path %></li>
			</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->


	<%= yield :body %>

	<footer id="footer" class="top-space">
		<div class="footer2">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="widget-body">
							<p>
							  Copyright &copy; 2014 rubynaija.com was created and is curated by <a href="https://twitter.com/unicodeveloper" target="_blank">Otemuyiwa Prosper</a>
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>	
		

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->

	<%= javascript_include_tag "jquery.min","bootstrap.min","jQuery.headroom.min","template","selectize.min" %>

    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-57355068-1', 'auto');
	  ga('send', 'pageview');
	</script>
    <script type="text/javascript">
		(function($) { 
		    $('#tags').selectize({
		        maxItems: 5
		    });

		    $('#categories').selectize({
		        maxItems: 5
		    });

		})(jQuery);
	</script>
    <script type="text/javascript">
    $(function() {
      $('.tip').tooltip();
      $('input, textarea').placeholder(); 
    });
    </script>
</body>
</html>
